*{
	box-sizing: border-box;
	font-family: Georgia, serif;
}
h1{
	position:relative;
}

.col-md-12,.col-sm-12{
	background-color: #66ccff;
	margin: 10px 0 10px 0;
	padding:20px;
	height: 600px;
	
}
div.header{
	font-size:32px;
	text-align: center;
	}
h2{
	text-align: center;
}
#navbar
{
	background-color: SlateBlue;
	text-align: left;
	border-radius: 0;
	border:0;
} 
#one,#two,#three{
	
	font-size: 16px;

}
.text-center{
	font-size: 34px;
}
#navlist
{
	margin-top: 10px;
}
#navlist a
{
	color:MediumSeaGreen;
	text-align: center;
}
#navlist a:hover
{
	background: DodgerBlue;
}

