@media (max-width: 767px)
{
	section
	{
		width: 100%;
		margin:auto;
	}
}
section{
	position:relative;
	
}

section p
{
	background-color: #66ccff;
	border: 1px solid black;
	margin: 10px ;
	padding-top:22px;
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;
	float:left;
}
section div
{
	background-color:#3399ff;
	border:1px solid black;
	font-size:20px;
	margin:10px;
	width:fit-content;
	float:right;
}
@media (min-width:768px)and (max-width:991px)
{
	section {
		width:50%;
	}
	#full
	{
		width: 100%;
	}
}
@media (min-width:992px)
{
	section {
		width:33.33%;
	}
}

}

