@media (max-width: 767px)
{
	section p
	{
		width: 100%;
	}
}
section p
{
	background-color: #3399ff;
	border: 1px solid black;
	margin: 10px;
}
section div
{
	background-color:#66ccff;
	border: 1px solid black;
	font-size: 15px; 
}
